<ul ng-social-buttons
	data-url="website.url"
	data-title="website.title"
	data-description="website.description"
	
	class="social-buttons">
	<li class="spread-word">Like <em>droidlinguit</em>? Spread the word!</li>
	<li class="ng-social-google-plus">Google+</li>
	<li class="ng-social-facebook">Facebook</li>
	<li class="ng-social-twitter">Twitter</li>
	<li class="ng-social-pinterest">Pinterest</li>
	<li class="ng-social-github" user="{{github.user}}" repository="{{github.repo}}">GitHub</li>
</ul>